button {
  border: none;
  background-color: #FCF2F6;
  font-size: 30px;
  color: black;
  /* font-weight: bold; */
  cursor: pointer;
  border-radius: 25px;
  outline: none;
}

button:hover {
  /* background-color: rgb(61, 43, 184); */
}

.equals {
  /* grid-column: 1 / 3; */
  background-color: #FFD9E3;
}

.zero {
  grid-column: 1 / 3;
}


.equals:hover {
  background-color: rgb(228, 39, 15);
}